#target{
	width: 350px;
	height: 70px;
	padding: 10px;
	border: 1px solid #aaaaaa;
}

#item{
	width: 336px;
	height: 69px;
}

#ball{
	cursor: pointer;
	width: 40px;
	height: 40px;
}

.draggable{
	cursor: pointer;
}